table {
  width:100%;
  border-collapse: separate;
  border-spacing: 4px 0;
  padding-top:1em;
}

th{
  padding: 5px 10px;
  vertical-align:middle;
  background-color:#222222;
  text-align:left;
  color:#ffffff;
} 

td{
  padding: 5px 10px;
  vertical-align:middle;
  background-color:#eeeeee;
  text-align:left;
} 
