<html>
  <head>
    <meta name="viewport" content="width=1200, initial-scale=maximum-scale">
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>Miniboxing &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import '/css/default.css';
      @import '/css/table.css';
      @import '/css/syntax.css';
      @import '/css/colorbox.css';
    </style>
    <style media='print' type='text/css'>
      @import '/css/print.css';
    </style>
    <link media="screen" rel="stylesheet" href="colorbox/colorbox.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="/css/jquery.colorbox.js"></script>
    <meta name='subject' content='Miniboxing website'>
    <meta name="keywords" content="miniboxing,specialization,scala,bytecode,java,generics,optimization">
    <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.name }}">
    <link href="{{ site.url }}/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44999312-1', 'scala-miniboxing.org');
      ga('send', 'pageview');
    </script>
    <script>
      $(document).ready(function(){
      //Examples of how to assign the ColorBox event to elements
      $(".colorbox").colorbox();
      });
    </script>
  </head>
  <body>
    <div id='outer'>
      <p class="paper" align="center">
        <b><a href="/2014/12/13/pureimage-example.html">The miniboxing talk at PNWScala is available...</a> <a href="/example_pureimage.html">with a complete tutorial</a></b>
      </p>
      <br/>
      <div id='menu'>
        <ol>
          <a href="/"><img alt='miniboxing' src='http://scala-miniboxing.org/mbox2-thumbnail.png'></a><br/><br/>
          <li>Start here
            <ol>
              <li><a href='/index.html'>Start Page</a></li>
              <li><a href='/intro.html'>Introduction</a></li>
              <li><a href='/tutorial.html'>Usage Tutorial</a></li>
              <!--<li><a href='/arrays.html'>Tutorial: Arrays</a></li>-->
              <li><a href='/benchmarks.html'>Benchmarks</a></li>
            </ol>
          </li>
          <li>Use it
            <ol>
              <li><a href='/using_sbt.html'>Sbt config</a></li>
              <li><a href='/example.html'>Sbt project</a></li>
              <li><a href='/using_out.html'>Command line</a></li>
            </ol>
          </li>
          <li>Examples
            <ol>
              <li><a href='/example_linkedlist.html'>Linked List</a></li>
              <li><a href='/example_pureimage.html'>PureImage</a></li>
              <li><a href='/example_functions.html'>Functions</a></li>
              <li><a href='/example_reverse.html'>Reverse</a></li>
            </ol>
          </li>
          <li>Discuss
            <ol>
              <li><a href="https://groups.google.com/forum/#!forum/scala-miniboxing" target="_blank">Mailing List</a></li>
              <li><a href="https://twitter.com/miniboxing" target="_blank">Twitter</a> <a href="https://twitter.com/miniboxing" target="_blank"><img src="/images/twitter.png" width="16px"/></a></li>
              <li><a href='/news.html'>News</a> <a href="/feed.xml" target="_blank"><img src="/images/rss16.png" width="16px"/></a></li>
            </ol>
          </li>
          <li>Reference
            <ol>
              <li><a href='/mbox/index.html'>Encoding</a></li>
              <li><a href='/ldl/index.html'>Transformation</a></li>
            </ol>
          </li>
          <li>Learn more
            <ol>
              <li><a href='/source.html'>Source code</a></li>
              <li><a href='/issues.html'>Issue tracker</a></li>
              <li><a href='/license.html'>License</a></li>
              <li><a href='/authors.html'>Authors</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
       <h1 id='title_{{ page.title | downcase | replace: ' ', '_' }}'>{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.news == true %}
          <p align="right">
            (<a href='/news.html'>back to <b>news articles</b></a> <a href="/feed.xml" target="_blank"><img src="/images/rss16.png" width="16px"/></a>)
          </p>
        {% endif %}
        {{ content }}
        {% if page.comments == "off" %}
          <!-- comments are disabled on this page -->
        {% else %}
          <h1>Comments</h1>
          <p>Comments are always welcome! But to make the best use of them, please consider this:
          <ul>
            <li>If you have questions or feedback regarding the content of this page, please leave us a comment!</li>
            <li>If you have general questions about the miniboxing plugin, please ask on the <a href="https://groups.google.com/forum/#!forum/scala-miniboxing" target="_blank">mailing List</a>.</li>
            <li>If you found a bug, please let us know on the <a href="https://github.com/miniboxing/miniboxing-plugin/issues" target="_blank">github issue tracker</a>.</li>
          </ul>
          <p>Thanks! Looking forward to your messages!</p>
          </p>
          <br/>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_shortname = 'miniboxing';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
      </div>
      <div id='footer'>Copyright &copy; 2012-2014 <a href="http://vladureche.ro" target="_blank">Vlad Ureche</a>, <a href="http://lamp.epfl.ch" target="_blank">Programming Methods Laboratory</a>, <a href="http://epfl.ch" target="_blank">EPFL</a>. Template by Nathan Bronson (<a href="http://nbronson.github.io/scala-stm">ScalaSTM</a>)</div>
    </div>
  </body>
</html>
